.outer_box .content_main{
    width: 80%;
    height: 950px;
    background: url(../image/background.jpg);
    margin: 20px auto;
    text-align: center;
    padding-top: 100px;
}

a{
    font-family: "宋体";
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.outer_box .content_main .info{
    margin-top: 50px;
}
.outer_box .content_main .info h1:first-child{
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 20px;
}

.outer_box .content_main .info h1:last-child{
    margin-top: 20px;
    letter-spacing: 10px;
}

.outer_box .content_main .bottom{
    margin-top: 180px;
}